$color-background: #E5DCD7;
$color-primary: #9D9DAC;
$color-second: #DBBDC5;
$color-keyboard: #8d8585;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-light: #ffffff;

$laptop-small-width: 1050px;
$tablet-width: 920px;
$mobile-big-width: 600px;
$mobile-small-width: 400px;
